:root {
  --bgc-main: #56b8ff;
}

@font-face {
    font-family: Montserrat;
    src: url("./assets/fonts/Montserrat-Regular.ttf") format("ttf");
}

h1 {
    font-family: Montserrat, sans-serif;
    color: var(--bgc-main);
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 25px;
}

.black {
    color: black;
}

img {
    width: 400px;
    height: 400px;
}